## Read two datasets again and then check the information of each

In [2]:
import pandas as pd

# Load cleaned trip data
trip_agg = pd.read_csv("./data/cleaned_taxi_trip_hourly.csv")
trip_agg.head()

         date  hour  trip_count  avg_distance   avg_fare  avg_passengers
0  2024-01-01     0        5375      2.938327  18.763304        1.609488
1  2024-01-01     1        5537      2.864271  18.184262        1.597977
2  2024-01-01     2        5208      3.055340  18.115102        1.548771
3  2024-01-01     3        3741      3.169671  17.669452        1.529003
4  2024-01-01     4        1998      3.522538  18.636767        1.483984

In [3]:
trip_agg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4368 entries, 0 to 4367
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            4368 non-null   object
 1   hour            4368 non-null   int64
 2   trip_count      4368 non-null   int64
 3   avg_distance    4368 non-null   float64
 4   avg_fare        4368 non-null   float64
 5   avg_passengers  4368 non-null   float64
dtypes: float64(3), int64(2), object(1)
memory usage: 204.9+ KB

In [4]:
#Load weather data
weather_clean = pd.read_csv("./data/cleaned_weather_hourly.csv")
weather_clean.head()

,date,hour,weather_label,temperature_c,wind_speed_mps,visibility_km
0,2024-01-01,0,"['Fog', 'Mist']",1.5,1.50,1.1750
1,2024-01-01,1,"['Mostly Clear', 'Mist']",1.5,1.25,5.0500
2,2024-01-01,2,['Mist'],1.5,1.00,3.0500
3,2024-01-01,3,"['Partly Cloudy', 'Cloudy']",2.0,1.55,8.9995
4,2024-01-01,4,"['Snow', 'Rain']",2.0,1.55,7.5000

In [5]:
weather_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4925 entries, 0 to 4924
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            4925 non-null   object
 1   hour            4925 non-null   int64
 2   weather_label   4925 non-null   object
 3   temperature_c   4925 non-null   float64
 4   wind_speed_mps  4925 non-null   float64
 5   visibility_km   4925 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 231.0+ KB

### Because we focus on the trip data so we will merge the weather into trip data:

In [6]:
# Convert datetime columns for both datasets
merge_df = pd.merge(
    trip_agg,
    weather_clean,
    how='left',
    on=['date', 'hour']
)
merge_df.head()

,date,hour,trip_count,avg_distance,avg_fare,avg_passengers,weather_label,temperature_c,wind_speed_mps,visibility_km
0,2024-01-01,0,5375,2.938327,18.763304,1.609488,"['Fog', 'Mist']",1.5,1.50,1.1750
1,2024-01-01,1,5537,2.864271,18.184262,1.597977,"['Mostly Clear', 'Mist']",1.5,1.25,5.0500
2,2024-01-01,2,5208,3.055340,18.115102,1.548771,['Mist'],1.5,1.00,3.0500
3,2024-01-01,3,3741,3.169671,17.669452,1.529003,"['Partly Cloudy', 'Cloudy']",2.0,1.55,8.9995
4,2024-01-01,4,1998,3.522538,18.636767,1.483984,"['Snow', 'Rain']",2.0,1.55,7.5000

### Clean the merged dataset:

In [10]:
merge_df.isnull().sum()

date                0
hour                0
trip_count          0
avg_distance        0
avg_fare            0
avg_passengers      0
weather_label     174
temperature_c     174
wind_speed_mps    174
visibility_km     174
dtype: int64

In [11]:
merge_df.duplicated().sum()

np.int64(0)

In [12]:
cleaned_merge_df = merge_df.fillna(0)

### Read the dataset into csv file:

In [14]:
cleaned_merge_df.to_csv("./data/cleaned_merge_df.csv", index=False)